[data-motion]{
  opacity: 0;
}

[data-motion="left-to-right"] {
  animation: left-to-right .5s cubic-bezier(0, 0.2, 0, 1.04);
  animation-fill-mode: forwards;
}

[data-motion="right-to-right"] {
  animation: right-to-right .5s cubic-bezier(0, 0.2, 0, 1.04);
  animation-fill-mode: forwards;
}


@keyframes left-to-right{
  0% {
    transform: translate(-60px, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes right-to-right{
  0% {
    transform: translate(60px, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}